.contactalert {
    padding-top: 8px;
    right: 0;
    font-size: .9em;
    display: inline-block;
    animation: 1s alertAnim forwards;
    position: absolute;
    color: #fc8019;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}