
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Login Error..!</h4>
			</div>

			<div class="modal-body">
				<p class="lead">Oops, You can't sign in. Your entered username and password is incorrected.</p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-dialog" data-dismiss="modal">OK</button>
			</div>
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->

	