.header-bar{
	background-color: #313949;
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-bar ul{
    margin: initial;
    list-style: none;
    padding: initial;
    height: 100%;
}
.header-bar ul li{
    padding: 13px 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
    font-family: "ProximaNovaLtSemibold",Arial,sans-serif;
	height: 100%;
}
.header-bar ul li a{
    color: #eee;
}
.header-menu .active{
	background-color: rgba(255,255,255,0.2);
}
.header-menu{
    height: 50px;   
}
.menu-profile{
	padding: 0 15px 0 10px !important;
    position: relative;
    top: 0;
}
