.dashboard-content-section{
    padding: 20px;
}
.page-title-bar p{
    font-size: 2.1rem;
    margin: 10px 20px;
    font-family: "ProximaNovaLight";
    font-weight: normal;
}
.page-title-bar p span{
    font-weight: bold;
    font-family: initial;
}
.page-title-bar button{
    padding: .35rem 1.071rem;
    border-radius: 2px!important;
    margin: 0 5px;
    font-family: "ProximaNovaRegular",arial,sans-serif;
}
.page-title-bar{
    margin-top: 50px;
	background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 10;
}
.page-title-bar div:nth-child(2){
	text-align: right;
    padding: 12px 40px;
}

.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eee;
    border-radius: .25rem;
}
.card {
    font-size: .875rem;
}
.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: right;
}

.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.card .card-header {
    z-index: 3!important;
}
.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
    color: #fff;
}
.card .card-header {
    border-bottom: none;
    background: transparent;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}
/*.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}
.card.bg-warning, .card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-warning .back, .card.card-rotate.bg-warning .front {
    //background: linear-gradient(60deg,#ffa726,#fb8c00);
    background: linear-gradient(60deg,#313949,#051F4A);
}*/
.card-stats .card-header.card-header-icon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}
.card .card-header.card-header-icon i, .card .card-header.card-header-text i {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    color: #999;
    font-size: 14px;
}
.card-stats .card-header.card-header-icon .card-category, .card-stats .card-header.card-header-icon .card-title, .card-stats .card-header.card-header-text .card-category, .card-stats .card-header.card-header-text .card-title {
    margin: 0;
}
.card-stats .card-header .card-icon+.card-category, .card-stats .card-header .card-icon+.card-title {
    padding-top: 10px;
}
.card-stats .card-header .card-category {
    margin-bottom: 0;
    margin-top: 0;
}
.card .card-header .card-category {
    margin: 0;
}
.card[class*=bg-] .author a, .card[class*=bg-] .card-category, .card[class*=bg-] .card-description, .card[class*=bg-] .stats, .card [class*=card-header-] .author a, .card [class*=card-header-] .card-category, .card [class*=card-header-] .card-description, .card [class*=card-header-] .stats {
    color: hsla(0,0%,100%,.8);
}
.card .card-category:not([class*=text-]) {
    color: #999;
}
.card .card-category {
    margin-top: 10px;
}
.card-stats .card-header.card-header-icon .card-category, .card-stats .card-header.card-header-icon .card-title, .card-stats .card-header.card-header-text .card-category, .card-stats .card-header.card-header-text .card-title {
    margin: 0;
}
.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3c4858;
}
.card .card-header .card-title {
    margin-bottom: 3px;
}
.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
    color: #fff;
}
.card .card-title:last-child {
    margin-bottom: 0;
}
.card .card-title {
    margin-top: 0;
    margin-bottom: 15px;
}
.card .card-title {
    margin-top: .625rem;
}
.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
    color: #3c4858;
    text-decoration: none;
}
.card-title {
    margin-bottom: .75rem;
}
.card-stats .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 25px;
}
.card .card-body+.card-footer, .card .card-footer {
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}
.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}
.card .card-body, .card .card-footer {
    padding: .9375rem 1.875rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid #eee;
}
.card-icon{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(49,57,73,0.5);
    background: white;
}
/*.card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}
.card.bg-success, .card .card-header-success .card-icon, .card .card-header-success .card-text, .card .card-header-success:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-success .back, .card.card-rotate.bg-success .front {
    //background: linear-gradient(60deg,#66bb6a,#43a047);
    background: linear-gradient(60deg,#313949,#051F4A);
}
.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.card.bg-danger, .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
    //background: linear-gradient(60deg,#ef5350,#e53935);
    background: linear-gradient(60deg,#313949,#051F4A);
}
.card .card-header-info .card-icon, .card .card-header-info .card-text, .card .card-header-info:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}
.card.bg-info, .card .card-header-info .card-icon, .card .card-header-info .card-text, .card .card-header-info:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-info .back, .card.card-rotate.bg-info .front {
    //background: linear-gradient(60deg,#26c6da,#00acc1);
    background: linear-gradient(60deg,#313949,#051F4A);
}*/
.card .card-body+.card-footer .stats, .card .card-footer .stats {
    color: #999;
    font-size: 12px;
    line-height: 22px;
}

.card .card-footer .stats {
    color: #999;
}
.card .card-footer .stats a{
    margin-left: 10px;
}